<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img width="600" 
  height="400" 
  src="https://maps.geoapify.com/v1/staticmap?style=osm-bright&width=600&height=400&center=lonlat:-122.678323,45.510309&zoom=15.9318&apiKey=28822324375f4db5b90857a1fb96e247" 
  alt="Portland State University, 724 Southwest Hooker Street, Portland, OR 97201, United States of America"
>
<ion-card>
  <ion-card-content>
    <p>Address: Fake street,111</p>
    <p>Complement: Auto 222</p>
    <p>Neighbourhood: neighbourhood</p>
    <p>Zip Code: 1234567</p>
    <p>City name -state</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="inset">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full" color="success">Create pickup call</ion-button>
</ion-content>
