<ion-header >
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button  auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list color="success">
    <ion-item color="success">
      <ion-avatar slot="start">
        <img src="https://i.pinimg.com/236x/ab/c9/83/abc983994db6d9b233d85818f1a81a3d.jpg"/>
      </ion-avatar>
      <ion-label class="lb">
        <h1>Isha Bamel</h1>
        <p>Gathered : <span class="money">$15</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
